<div class="main-container-header">
    <div class="view titlebar-view">
        <span class="logotype">
            <span class="close-icon"></span>
            <span class="search-icon"></span>
        </span>
    <a href="/en/sidebar/" class="sidebar"><span><i class="iconsheader-paw"></i></span></a>
    <a href="#" class="home disabled"><span><i class="icon-home"></i></span></a>
    <a href="/en/login/" class="text login"><span>Log in</span></a>
    </div>
</div>

<div class="main-container-lobby-menu"><div class="view lobby-menu-view">
    <ul class="lobby-menu-list">
        <li data-lobby-type="casino" class="starter item">
            <div class="borderStyle"></div>
            <a href="/en/casino/">
                <span class="casino lobbyIcon"></span>
                <span>Casino</span>
            </a>
        </li>

        <li data-lobby-type="live" class="item">
            <div class="borderStyle"></div>
            <a href="/en/live/">
                <span class="live lobbyIcon"></span>
                <span>Live Casino</span>
            </a>
        </li>

        <li data-lobby-type="sportsbook" class="item active">
            <div class="borderStyle"></div>
            <a href="/en/sportsbook/">
                <span class="sports lobbyIcon"></span>
                <span>Sports</span>
            </a>
        </li>

    </ul>

</div></div>

<ul class="checkboxlist" id="checkboxlist">
    <li>
        <input type="checkbox" id="premierleague" class="premier">
        <label for="premierleague">Premier League</label>
    </li>
    <li>
        <input type="checkbox" id="laliga" class="laliga"/>
        <label for="laliga">La Liga</label>
    </li>
</ul>
<div id="page">
    <div id="outcomes">
        <ul class="list" id="outcomeList"></ul>
    </div>
</div>