<!-- Search -->
<section id="search" class="alt">
    <a href="#" class="image"><img src="../images/logo.png" alt="LeoVegas Logo" witdh=290 height=210/></a>
    <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search"/>
    </form>
</section>

<!-- Menu -->
<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="/">Homepage</a></li>

        <li>
            <span class="opener">Research</span>
            <ul>
                <li><a href="research">User Demographics</a></li>
                <li><a href="research">User Behaviour</a></li>
                <li><a href="https://analytics.google.com/">Google Analytics</a></li>
            </ul>
        </li>
        <li><a href="../brandvalues">The LeoVegas Brand</a></li>
        <li>
            <span class="opener">Generic Design Elements</span>
            <ul>
                <li><a href="../generic_design_elements">Introduction</a></li>
                <li><a href="../generic_design_elements">Tone & Voice</a></li>
                <li><a href="../generic_design_elements">Colors</a></li>
                <li><a href="../generic_design_elements">Typography/Paragraph</a></li>
                <li><a href="../generic_design_elements">Icons</a></li>
                <li><a href="../generic_design_elements">Buttons</a></li>
                <li><a href="../generic_design_elements">Buttons</a></li>
                <li><a href="../generic_design_elements">Design Grid</a></li>
                <li><a href="../generic_design_elements">Pop-up Design</a></li>
                <li><a href="../testpage">Testpage</a></li>
                <li><a href="https://gutro.github.io/sketch/dialogues/index.html">Dialog Design</a></li>
                <li><a href="https://gutro.github.io/sketch/notifications/index.html">Notifications Design</a></li>
            </ul>
        </li>
        <li>
            <span class="opener">Casino Style Guide</span>
            <ul>
                <li><a href="#">Introduction</a></li>
                <li><a href="../casino/casino_pactframework">PACT Framework</a></li>
                <li><a href="../casino/casino_gametiles">Game Tiles</a></li>
                <li><a href="#">Bottom Menu</a></li>
            </ul>
        </li>
        <li>
            <span class="opener">Live Casino Style Guide</span>
            <ul>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">PACT Framework</a></li>
                <li><a href="#">Color</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Game Tiles</a></li>
                <li><a href="#">Bottom Menu</a></li>
            </ul>
        </li>
        <li>
            <span class="opener">Sportsbook Style Guide</span>
            <ul>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">PACT Framework</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
        </li>
        <li>
            <span class="opener">Downloads</span>
            <ul>
                <li><a href="../downloads/download_logos">Logos</a></li>
                <li><a href="../downloads/download_icons">Icons</a></li>
                <li><a href="../downloads/download_images">Images</a></li>
                <li><a href="../downloads/download_fonts">Fonts</a></li>
                <li><a href="../downloads/color_picker">Color Picker</a></li>

            </ul>
        </li>
        <li>
            <span class="opener">CRM & SEO</span>
            <ul>
                <li><a href="../CRM_SEO/emails">Email Structure</a></li>
                <li><a href="../CRM_SEO/writing_for_leo">Writing for Leo</a></li>
                <li><a href="../CRM_SEO/content_and_postcards">Content and Postcards</a></li>
            </ul>
        </li>
    </ul>
</nav>


<!-- Section -->
<section>
    <header class="major">
        <br><br>
        <h2>Any Questions?</h2>
    </header>
    <p>The Design Team will provide strategic assistance on product design for elements that are unclear. We are
        passionate about our brand and we are here to help. For more information about the LeoVegas brand or these
        guidelines, please contact the Design Team.</p>
    <ul class="contact">
        <li class="fa-envelope-o"><a href="#">designteamsweden@leovegas.com</a></li>
        <li class="fa-phone">(000) 000-0000</li>
        <li class="fa-home">Sveavägen 59, 113 59 Stockholm Gears of Leo AB<br/>
        </li>
    </ul>
</section>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; LeoVegas. All rights reserved. </a>. Brought to you by the Design Team</p>
</footer>